#title{
    background-color: #ff4c68;
}

.body{
    font-family: 'Montserrat';
}

h1{
    font-family: "Montserrat";
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    color: white;
}

.container-fluid{
    padding: 3% 15% 7%;
}

/* navigation bar */
.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item{
    padding: 0px 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    font-weight: 400;
}


/* Download Buttons */

.Download-Buttons{
    margin: 5% 3% 5% 0;
}

/* title image  */

.title-image{
    width: 20rem;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}


/* features */

#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
}

h3{
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight: 900;

}

.box{
    margin: 5% 0%;
}

#features p{
    color: #8f8f8f;
    margin: 0 auto;
    padding: 0% 15%;
}

#features i{
    color: #ef8172;
    margin: 1rem;
}
#features i:hover{
    color: #ff4c68;
}

/* testimonials */
h2{
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 1.5;
}

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 50%;
}

/* press */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

.carousel-item{
    padding: 7% 15%;
}

.btn-block{
    width: 100%;
}

/* Pricing Section */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-colmun{
    padding: 3% 2%;
}




#cta{
    padding: 7% 15%;
    text-align: center;
    background-color: #ff4c68;
    color: white;
}

.cta-h3{
    font-size: 3.5rem;
    font-family: 'Montserrat';
    font-weight: 800;
    line-height: 1.5;
}

.cta-btn{
    margin: 5% 3% 5% 0;
}

/* Footer Section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}


@media (max-width:1028px) {
    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }
    
}

